In [2]:
import re

In [3]:
re.__version__

'2.2.1'

In [16]:
we="hi i am nancy and u @ 123456 80 45 78"

In [5]:
re.findall("\w",we)

['h', 'i', 'i', 'a', 'm', 'n', 'a', 'n', 'c', 'y', 'a', 'n', 'd', 'u']

In [7]:
re.findall("\w+",we)#greedy sign+ and*

['hi', 'i', 'am', 'nancy', 'and', 'u']

In [10]:
#to select special character we can use W
re.findall("\W",we)

[' ', ' ', ' ', ' ', ' ', ' ', '@']

In [12]:
re.findall("\d+",we) # for selecting numbers

['123456']

In [14]:
#D use to select non digits 
re.findall("\D+",we)

['hi i am nancy and u @ ']

In [17]:
re.findall("\d\d",we)

['12', '34', '56', '80', '45', '78']

In [18]:
re.findall("\d{2}",we)

['12', '34', '56', '80', '45', '78']

In [19]:
re.findall("\d\d\s",we)

['56 ', '80 ', '45 ']

In [20]:
re.findall("\d{2}[^\d\.]",we)

['56 ', '80 ', '45 ']

In [21]:
df="hi i am having hat,mat and cat also"

In [23]:
re.findall("[\w][a][\w]",df)

['hav', 'hat', 'mat', 'cat']

In [24]:
re.findall(".at",df)

['hat', 'mat', 'cat']

In [28]:
rt="hello Mr. Khanna and Mrs. Khanna"

In [32]:
re.findall("[A-Z][\w]+\W\s\w+",rt)

['Mr. Khanna', 'Mrs. Khanna']

In [31]:
re.findall("[\w][\w]+\W\s\w+",rt)

['Mr. Khanna', 'Mrs. Khanna']

In [58]:
dt="my number is 1234567 and my email is nancy24@gmail.com"
re.findall("[\d]+\\w",dt)

['1234567']

In [63]:
rs="my number is 1234567 and my email is nancy24@gmail.com"

In [66]:
re.findall("[\w\d]+.@\w+\.[.com]+",rs)

['nancy24@gmail.com']

In [91]:
import requests as rs
pq=rs.get("https://learncodeonline.in")
data=pq.content
lh=data.decode("utf-8")

In [97]:

re.findall("[\w\d]+.@\w+\.[.com]+",lh)

['hitesh@hiteshchoudhary.com']

In [98]:
fd=["name,contact\n",
   "nancy,12234\n",
    "ishita,2345\n",
    "unnati,6789\n"]

In [99]:
with open("csv_test.csv","a")as d:
    for st in fd:
        d.write(st)